	<div>
		<span class="flex flex-col justify-start items-start rounded-md p-4">
			<h2>Friends</h2>
			<% if friends.length > 0 %>
				<ul class="w-full">
						<% friends.each do |friend| %>
							<span class="flex flex-row items-start justify-between">
								<p class="py-2 "><%= friend.full_name %></p>
								<%= button_to "Unfriend", user_friend_path(friend), method: :delete, data: {turbo_confirm: "Are you sure?"} %>
							</span>
						<%end%>
				</ul>
			<% else %>
				<div> No friends </div>
			<% end %>
		</span>
	</div>
