<div class="pt-20 container max-w-2xl flex flex-col">
	<%= turbo_frame_tag "invitations" do %>
		<%= render "invitations", pending_invitations: @pending_invitations %>
	<% end %>
		
	<div class="pt-6">
		<%= turbo_frame_tag "friends" do %>
				<%= render "friends", friends: @friends %>
		<% end %>
	</div>

</div>	