<% if @recipe.errors.full_messages %>
  <ul>
    <% @recipe.errors.full_messages.each do |error| %>
    <li>
      <p style="color: red;"><%= error %></p>
    </li>
    <% end %>
  </ul>
<% end %>

<% if @result.errors %>
  <ul>
    <% @result.errors.each do |error| %>
      <% unless error.empty? %>
        <% error.full_messages.each do |err| %>
          <li>
            <%= err %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>