<div>
  <%= turbo_stream_from @recipe %>
  <div id="<%=dom_id(@recipe)%>">
    <%= render @recipe, recipe: @recipe %>
  </div>
  
  <%#= turbo_stream_from @recipe, :comments %>
  <div id="comments">
    <h1 class="text-center text-xl py-2">Comments</h1>
    <%= render "recipes/comments/comments", {comments: @comments, recipe_id: @recipe.id, user: @user } %>
  </div>
</div>