
<div class="container">
  <ul role="list" class="grid gap-x-8 gap-y-12 grid-cols-2 sm:grid-cols-3 sm:gap-y-16 xl:col-span-2 ">
    <% @cooks.each do |cook| %>
      <%= render "users/user_card", cook: cook %>
    <% end %>
  </ul>
</div>
