<li>
  <div class="sm:flex">
    <div class="mb-2 flex-shrink-0 sm:mb-0 sm:mr-4 pt-2">
      <%#= render 'shared/avatar', user: comment.user %>
    </div>
    <div class="px-4 py-2 rounded grow">
      <div class="flex justify-between items-center">
        <h4 class="text-sm font-medium text-primary-text-color">
          <%= comment.user.full_name %>
        </h4>
        <div class="flex items-center">
          <span class="text-xs mr-3"><%=
              time_ago_in_words(comment.created_at)
            %></span>
        </div>
      </div>
      <p class="mt-1 text-sm">
        <%= comment.content%>
      </p>
    </div>
  </div>
</li>
