<%= turbo_frame_tag 'comments' do %>
  <h1 class="text-left text-xl py-2"><%=@recipe.comments_count %> Comments</h1>
  <%= render "recipes/comments/form", recipe_id: recipe_id %>
  </div>
  <% unless comments.empty? %>
    <ul class="container">
      <% comments.each do |comment| %>
        <%= render "recipes/comments/comment", comment: comment %>
      <% end %>
    </ul>
  <% else %>
    <h1> No comments </h1>
  <% end %>
<%end %>