<% if current_user %>
  <%= form_with( model: [@recipe,Comment.new] , data: { controller: "reset-form", action: "turbo:submit-end->reset-form#clear"}, class: "flex flex-col py-6 items-center") do |f| %>
    <div class="flex flex-row w-full">
      <div class="pr-6">
        <%= render 'shared/avatar', user: current_user %>
      </div>
      <%= f.text_field :content, class: "block w-full border-x-0 border-t-0 py-1.5 text-gray-900 shadow-sm placeholder:text-gray-400 focus:border-gray-300 focus:ring-1 focus:rounded-md focus:ring-inset focus:ring-gray-300 sm:text-sm sm:leading-6" %>
    </div>
   <div class="place-self-end pt-2">
    <button type="submit" class="p-2.5 bg-indigo-600 text-white text-sm rounded-full hover:pointer-events-auto hover:bg-indigo-400">Comment</button>
    </div>
  <% end %>
<% end %>