<div class="relative inline-block text-left" >
  <div role="button" data-action="click->dropdown#toggle click@window->dropdown#hide">
    <button type="button" class="relative flex rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" id="menu-button" aria-expanded="true" aria-haspopup="true" data-dropdown-target="button" tabindex-="0" id="dropdown-button">
      <% if current_user.image %>
        <%= image_tag current_user.image, class: "rounded-full h-12 w-12" %>
      <% else %>
        <span class="absolute -inset-1.5"></span>
        <span class="sr-only">Open user menu</span>
        <svg class="h-10 w-10 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
        </svg>
      <% end %>
    </button>
  </div>

  <div data-dropdown-target="menu" class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
    <div class="px-4 py-3" role="none">
      <p class="text-sm text-white" role="none">Signed in as</p>
      <p class="truncate text-sm font-medium text-gray-900" role="none">tom@example.com</p>
    </div>
    <div class="py-1" role="none">
      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
      <%= link_to "Profile Settings", edit_user_registration_path, class: "text-gray-700 block px-4 py-2 text-sm",role: "menuitem", tabindex:"-1" ,id: "menu-item-0" %>
      <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Support</a>
      <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">License</a>
    </div>
    <div class="py-1" role="none">
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "text-gray-700 block w-full px-4 py-2 text-left text-sm" %>
    </div> 
</div>